page-login {
	//background: transparent url('../assets/imgs/background.png') top center no-repeat;
	background-size: cover;
	.fixed-content {}
	.scroll-content {
		padding-bottom: 16px !important;
	}
	ion-content ion-list {
		margin-bottom: 40px !important;
		margin-top: 40px !important;
	}
	ion-content ion-list ion-item.input {
		background-color: transparent !important;
		border: 1px solid #ffffff !important;
		border-radius: 25px !important;
		height: 4rem !important;
		margin-bottom: 20px !important;
		max-height: 4rem !important;
		min-height: 4rem !important;
	}
	ion-content ion-list ion-item.input ion-label ion-icon {
		color: #ffffff;
		font-size: 1.5em;
	}
	ion-content ion-list ion-item.input .item-inner {
		border-bottom: none !important;
		padding: 0 20px;
	}
	ion-content ion-list ion-item.input ion-input {
		background-color: transparent;
		border: none;
		color: #ffffff;
		font-size: 1.8rem;
	}
	ion-content ion-list ion-item.input .text-input::-moz-placeholder {
		color: #ffffff;
	}
	ion-content ion-list ion-item.input .text-input:-ms-input-placeholder {
		color: #ffffff;
	}
	ion-content ion-list ion-item.input .text-input::-webkit-input-placeholder {
		color: #ffffff;
	}
	ion-content a {
		align-self: flex-start;
		color: #ffffff;
		display: inline-flex !important;
		font-size: 1.2rem !important;
	}
	ion-content ion-checkbox {
		margin-top: 5px;
		position: relative !important;
	}
	ion-content ion-checkbox .checkbox-icon {
		border-color: #81358a !important;
		margin: 0 5px !important;
	}
}