<ion-header no-border>
	<ion-toolbar>ee</ion-toolbar>
</ion-header>
<ion-content class="page-inicio">

	<swiper [pagination]="true">
		<ng-template swiperSlide>Slide 1</ng-template>
		<ng-template swiperSlide>Slide 2</ng-template>
		<ng-template swiperSlide>Slide 3</ng-template>
	  </swiper>
<!--
	<ion-slides #slideIntro (ionSlideDidChange)="onSlideChaged()" pager centeredSlides *ngIf="splash == false">
		<ion-slide *ngFor="let dat of datos">
			<ion-grid>
				<ion-row>
					<ion-col col-12>
					
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>
		<ion-slide>
			<ion-grid>
				<ion-row>
					<ion-col col-12>
						<h2><i>Bienvenido a 4Planning</i></h2>
					</ion-col>
					<ion-col col-12></ion-col>
					<ion-col col-12></ion-col>
					<ion-col col-12></ion-col>
					<ion-col col-12></ion-col>
					<ion-col col-2></ion-col>
					<ion-col col-8>
						<button ion-button block class="boton" color="primary" (click)="avanzologin()" [disabled]="bloqueo_boton == true">Comenzar</button>
					</ion-col>
					<ion-col col-2></ion-col>

				</ion-row>
			</ion-grid>
		</ion-slide>
	</ion-slides> -->
	<!--<ion-slides pager class="slideintro" (ionSlideReachEnd)="ocultasaltar()" (ionSlidePrevStart)="muestrasaltar()" #slideIntro>-->

</ion-content>
